html
  head
    meta(charset="UTF-8")

    title Psnine Plus

    link(rel="stylesheet" href="./popup.css" type="text/css")

    script(src="../preact.min.js")

  body
    #psnine-plus-popup

    script(src="./popup.js")
