html,
body
  margin 0

form
  margin-bottom 0

.psnine-plus-popup
  margin 8px
  white-space nowrap
  font-size 12px

  &-checkbox
    cursor pointer
    display block
    margin-bottom 4px

    input
      cursor pointer
      margin-right 8px

  &-textarea
    textarea
      margin-bottom 4px
      resize none

  input[type=submit]
    margin-top 4px
    margin-right 8px
