.psnine-plus-psn-card
  .tooltipster-box
    border none !important
    background transparent !important

  .tooltipster-content
    padding 0

    > div
      border 2px solid black

      .inner
        width 400px

      .psninfo
        font-size 16px

      .psnbtnleft
        top 57px

      .psnbtnright
        display none

      .psnava
        width 120px
        height 120px
        margin 0px auto 20px

      .psntrophy
        margin-bottom 0
