.psnine-plus-psn-card
  .tooltipster-box
    border-radius 0
    border-width 1px

  .tooltipster-content
    padding 0

    > div
      .inner
        width 400px

      .psninfo
        font-size 16px

      .psnbtnleft
        top 57px

      .psnbtnright
        display none

      .psnava
        width 120px
        height 120px
        margin 0px auto 20px

      .psntrophy
        margin-bottom 0
